pkgbase = android-remote-camera
	pkgdesc = Android remote camera.
	pkgver = 0.0.0.0.0.0.0.0.0.0.0.0.0.1.1.1.1.1
	pkgrel = 1
	url = https://github.com/themartiancompany/android-remote-camera
	arch = any
	license = AGPL3
	checkdepends = shellcheck
	makedepends = make
	depends = android-vnc-viewer
	depends = dynssh
	depends = libcrash-bash
	depends = unused-local-port
	source = android-remote-camera-c005115775d6aa8a313abdbc9f4a89090593f8f5.zip::https://github.com/themartiancompany/android-remote-camera/archive/c005115775d6aa8a313abdbc9f4a89090593f8f5.zip
	validpgpkeys = 97E989E6CF1D2C7F7A41FF9F95684DBE23D6A3E9
	sha256sums = 772555dbe81d8d93f2348aea3112a8571132fef83dffea376448c25664bc100d

pkgname = android-remote-camera
